[tool_alias]
ambr = "github:dalance/amber"
ambs = "github:dalance/amber"

[tools]
act = "latest"
uv = "latest"
actionlint = "latest"
terraform = "latest"
sops = "latest"
lazygit = "latest"
pre-commit = "latest"
istioctl = "1.19.3"
argocd = "latest"
kind = "latest"
usage = "latest"
github-cli = "latest"
packer = "latest"
k9s = "latest"
tflint = "latest"
helm = "latest"
kustomize = "latest"
watchexec = "latest"
fx = "latest"
grex = "latest"
peco = "latest"
gum = "latest"
ruff = "latest"
python = "3.10"
awscli = "latest"
kubectl = "latest"
gcloud = "latest"
eksctl = "latest"

"cargo:andrewshadura/inputplug" = "latest"

"pipx:pex" = "latest"
"pipx:csb43" = "latest"
"pipx:termdown" = "latest"
"pipx:yamlfix" = "latest"
"pipx:posting" = "latest"
"pipx:copier" = "latest"
"pipx:vint" = "latest"
"pipx:hostsed" = "latest"

ambs = { version = "latest", exe = "ambs", asset_pattern = "*x86_64-lnx*" }
ambr = { version = "latest", exe = "ambr", asset_pattern = "*x86_64-lnx*" }

"github:kubernetes-sigs/cloud-provider-kind" = "latest"
"github:docopt/docopts" = { version = "latest", postinstall = "wget https://raw.githubusercontent.com/docopt/docopts/master/docopts.sh -O ~/.local/bin/docopts.sh" }
"github:awslabs/eksdemo" = "latest"
"github:fiatjaf/jiq" = "latest"
"github:kmonad/kmonad" = { version = "latest", asset_pattern = "kmonad" }
"github:txn2/kubefwd" = "latest"
"github:rsteube/lazycomplete" = "latest"
"github:gokcehan/lf" = "latest"
"github:ericchiang/pup" = "latest"
"github:sqshq/sampler" = "latest"
"github:joehillen/sysz" = { asset_pattern = "sysz", version = "latest" }
"github:akavel/up" = { version = "latest", asset_pattern = "^up$" }
"github:kriomant/ch57x-keyboard-tool" = "latest"
helm-diff = "latest"
kubectl-convert = "latest"
krew = "latest"
"github:sectore/timr-tui" = "latest"
"github:lusingander/serie" = "latest"
"pipx:pter" = "latest"
"github:Epistates/treemd" = "latest"
bun = "latest"
aqua = "latest"
docuum = "latest"
"github:kantord/headson" = { version = "latest", version_prefix = "headson-v" }
task = "latest"
gron = "latest"
eza = "latest"
sd = "latest"
"pipx:cruft" = "latest"
"github:Sateliot/sateliot-aws-auth" = "latest"
terragrunt = "latest"
"pipx:commitizen" = "latest"
kubectx = "latest"
kubens = "latest"
jiq = "latest"
ubi = "latest"
lazydocker = "latest"
codex = "latest"
"github:nnnkkk7/lazyactions" = "latest"
"github:orangekame3/stree" = "latest"
"github:lusingander/stu" = "latest"
prek = "latest"
goss = "latest"

[settings]
idiomatic_version_file_enable_tools = ["python"]
experimental = true

[settings.npm]
bun = true
