- name: add repo keys
  ansible.builtin.rpm_key:
    state: present
    key: "{{ item }}"
  loop:
    - https://downloads.1password.com/linux/keys/1password.asc
    - https://mise.jdx.dev/gpg-key.pub
    - https://www.virtualbox.org/download/oracle_vbox_2016.asc
  tags: [rpm, rpm-repo]

- name: install repos
  ansible.builtin.dnf:
    name:
      - "https://download1.rpmfusion.org/free/fedora/rpmfusion-free-release-{{ ansible_distribution_major_version }}.noarch.rpm"
      - "https://download1.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-{{ ansible_distribution_major_version }}.noarch.rpm"
      - fedora-workstation-repositories
    state: present
  become: true
  tags: [rpm, rpm-repo]

- name: add repos
  ansible.builtin.yum_repository:
    name: "{{ item.name }}"
    description: "{{ item.description }}"
    baseurl: "{{ item.baseurl }}"
    gpgkey: "{{ item.gpgkey }}"
    gpgcheck: true
    repo_gpgcheck: "{{ item.repo_gpgkey | default(false) }}"
  loop:
    - { name: "1password",
        description: "1Password Stable Channel",
        baseurl: "https://downloads.1password.com/linux/rpm/stable/$basearch",
        gpgkey: "https://downloads.1password.com/linux/keys/1password.asc",
        repo_gpgcheck: true,
    }
    - { name: "mise",
        description: "mise repo",
        baseurl: "https://mise.jdx.dev/rpm",
        gpgkey: "https://mise.jdx.dev/gpg-key.pub",
    }
    - { name: "virtualbox",
        description: "Fedora $releasever - $basearch - VirtualBox",
        baseurl: "http://download.virtualbox.org/virtualbox/rpm/fedora/$releasever/$basearch",
        gpgkey: "https://www.virtualbox.org/download/oracle_vbox_2016.asc"
    }
  become: true
  tags: [rpm, rpm-repo]

- name: enable chrome repo
  ini_file:
    path: /etc/yum.repos.d/google-chrome.repo
    section: google-chrome
    option: enabled
    value: '1'
    mode: '644'
  become: true
  tags: [rpm, rpm-repo]

- name: enable ghostty copr
  community.general.copr:
    # host: copr.fedorainfracloud.org
    state: enabled
    name: pgdev/ghostty
  become: true
  tags: [rpm, rpm-repo]

- name: remove unwanted packages with dnf
  ansible.builtin.dnf:
    name: "{{ rpm_absent }}"
    state: absent
  become: true
  tags: [rpm, rpm-absent]

- name: install with dnf
  ansible.builtin.dnf:
    name: "{{ rpm }}"
    state: present
  become: true
  tags: [rpm, rpm-present]

# - name: enable services
#   ansible.builtin.systemd:
#     name: "{{ item }}"
#     enabled: true
#     state: started
#   become: true
#   with_items:
#     - libvirtd
#     - virtnetworkd
#   tags: [rpm]
