# https://github.com/jesseduffield/lazygit/blob/master/docs/Config.md

gui:
  showIcons: true
  nerdFontsVersion: "3"
git:
  pagers:
    - colorArg: always
      pager: delta --config ~/.config/lazygit/delta.config
# keybinding:
#   universal:
#     edit: <disabled> # disable 'edit file'
customCommands:
  - key: "<c-g>"
    context: "localBranches"
    command: "gh pr create -a @me -r rastut,zepellin -f"
    # command: "gh pr create -a @me -r rastut,zepellin -f && review-please"
    loadingText: "Creating pull request on GitHub"
