python     3.10
gcloud     453.0.0
terraform  1.5.4
awscli     latest
github-cli 2.23.0
packer     1.8.6
task       3.21.0
k3d        5.4.7
k9s        0.27.3
pre-commit 3.1.1
poetry     1.4.0
tflint     0.45.0
kubectl    1.27.2
helm       3.11.1
yq         4.33.3
kustomize  5.0.1
lazygit    0.37.0
vault      1.13.1
jq         system
kubectx    0.9.4
argocd     2.7.0
watchexec  1.22.3
fx         24.1.0
grex       1.4.2
fasd       1.0.1
bin        0.17.2
peco       0.5.11
argo       latest
