[Desktop Entry]
Type=Application
TryExec=/usr/libexec/lxqt-policykit-agent
Exec=/usr/libexec/lxqt-policykit-agent
OnlyShowIn=LXQt;i3;qtile;
X-LXQt-Module=true

Name=PolicyKit Handler
Name[ar]=معالج وحدة السِّياسة بوليسي كيت
Name[bg]=PolicyKit Диспечер
Name[ca]=Gestor PolicyKit
Name[cs]=Zacházení se zásadami (PolicyKit)
Name[da]=PolicyKit-håndtering
Name[de]=PolicyKit-Steuerung
Name[el]=Διαχειριστής PolicyKit
Name[eo]=Traktilo de PolicyKit
Name[es]=Manipulador de PolicyKit
Name[es_VE]=Encargado del Kit de politicas
Name[et]=PolicyKit'i liides
Name[eu]=PolicyKit maneiatzailea
Name[fi]=PolicyKit-käsittelijä
Name[fr]=Gestionnaire de PolicyKit
Name[gl]=Manexador do PolicyKit
Name[he]=מטפל ב־PolicyKit
Name[hr]=PolicyKit agent
Name[hu]=PolicyKit-kezelő
Name[it]=Gestore di PolicyKit
Name[ja]=PolicyKit ハンドラー
Name[ko]=PolicyKit 처리기
Name[lt]=PolicyKit doroklė
Name[nb_NO]=PolicyKit-håndterer
Name[nl]=PolicyKit-afhandeling
Name[pl]=PolicyKit Handler
Name[pt]=Gestor de políticas
Name[pt_BR]=Manipulador PolicyKit
Name[ru]=Менеджер взаимодействия с PolicyKit
Name[sk]=PolicyKit autentifikačný agent
Name[sl]=Upravljalnik PolicyKit
Name[th_TH]=ตัวจัดการ PolicyKit
Name[tr]=PolicyKit İşleyici
Name[uk]=Маніпулятор PolicyKit
Name[vi]=Trình xử lí PolicyKit
Name[zh_CN]=PolicyKit 处理器
Name[zh_TW]=PolicyKit處理器
