[Desktop Entry]
Type=Application
Version=1.0
Name=Power Management
TryExec=lxqt-powermanagement
Exec=lxqt-powermanagement
OnlyShowIn=LXQt;i3;qtile;
X-LXQt-Need-Tray=true
X-LXQt-Module=true

Name[cs]=Správa napájení
Name[da]=Strømstyring
Name[de]=LXQt-Energieverwaltung
Name[el]=Διαχείριση ενέργειας
Name[es]=Gestión de energía
Name[fr]=Gestion de l'énergie
Name[hr]=Upravljanje energijom
Name[it]=Gestore energia
Name[ja]=電源管理
Name[lt]=Maitinimo valdymas
Name[pl]=Zarządzanie energią
Name[pt]=Gestor de energia do LXQt
Name[tr]=Güç Yönetimi
Name[zh_CN]=电源管理
Name[zh_TW]=電源管理
