[Desktop Entry]
Type=Application
Icon=preferences-system-power-management
Name=Power Management
Comment=Battery, Display and CPU power management and notification
Exec=/usr/libexec/org_kde_powerdevil
NoDisplay=true
OnlyShowIn=KDE;i3;qtile;
X-systemd-skip=true
X-KDE-autostart-phase=0
