- name: install required packages
  dnf:
    name:
      - rubygem-ffi
      - rubygem-childprocess
      - rubygem-backports
      - ruby-devel
      - rpm-build
    state: present
  become: true
  tags: gems

- name: install gems
  gem:
    name: "{{ item }}"
    state: present
    user_install: true
  loop: "{{ gems | default([]) }}"
  tags: gems
