# Ozone keyboard
ACTION=="add", \
  SUBSYSTEM=="input", \
  ATTRS{id/product}=="a096", ATTRS{id/vendor}=="04d9", \
  RUN+="/usr/bin/su jordif -c '/home/jordif/bin/xkb.sh"
