- name: add tailscale repo key
  ansible.builtin.rpm_key:
    state: present
    key: https://pkgs.tailscale.com/stable/fedora/repo.gpg
  become: true
  tags: [tailscale, tailscale-repo, rpm, rpm-repo]

- name: add tailscale repo
  ansible.builtin.yum_repository:
    name: tailscale
    description: Tailscale stable
    baseurl: https://pkgs.tailscale.com/stable/fedora/$basearch
    enabled: true
    gpgcheck: true
    repo_gpgcheck: true
    gpgkey: https://pkgs.tailscale.com/stable/fedora/repo.gpg
  become: true
  tags: [tailscale, tailscale-repo, rpm, rpm-repo]

- name: install tailscale
  ansible.builtin.dnf:
    name: tailscale
    state: present
  become: true
  tags: [tailscale]

- name: enable and start tailscale service
  ansible.builtin.systemd:
    name: tailscaled
    enabled: true
    state: started
  become: true
  tags: [tailscale]
