- name: xorg touchpad config
  copy:
    src: xorg.conf.d/30-touchpad.conf
    dest: /etc/X11/xorg.conf.d/
    owner: root
    group: root
    mode: '0644'
  become: true
  tags: [touchpad]

- name: install fusuma
  gem:
    name: "{{ item }}"
    state: present
    user_install: true
  loop:
    - fusuma
    - fusuma-plugin-keypress
    - fusuma-plugin-tap
    - fusuma-plugin-sendkey
  tags: [touchpad, fusuma]

- name: install fusuma systemd user service
  copy:
    src: fusuma.service
    dest: ~/.config/systemd/user/fusuma.service
  tags: [touchpad, fusuma]

- name: reload systemd user daemon
  systemd:
    name: fusuma
    daemon_reload: true
    scope: user
  tags: [touchpad, fusuma]

- name: enable fusuma user service
  systemd:
    name: fusuma
    enabled: false
    scope: user
  tags: [touchpad, fusuma]
