[Unit]
Description=kmonad

[Service]
ExecStart=/home/jordif/.local/share/mise/shims/kmonad /home/jordif/.config/kmonad/laptop.kbd

[Install]
WantedBy=default.target
