- name: install flatpak essential remotes
  ansible.builtin.flatpak_remote:
    name: "{{ item.name }}"
    flatpakrepo_url: "{{ item.url }}"
    state: present
  loop: "{{ flatpak_essential_remotes }}"
  tags: ["flatpak", "flatpak-remote"]

- name: install flatpak remotes
  ansible.builtin.flatpak_remote:
    name: "{{ item.name }}"
    flatpakrepo_url: "{{ item.url }}"
    state: present
  loop: '{{ flatpak_remotes }}'
  when: flatpak_remotes is defined
  become: true
  tags: ["flatpak", "flatpak-remote"]

- name: install with flatpak
  ansible.builtin.flatpak:
    name: "{{ flatpak | default('') }}"
    state: present
  tags: flatpak
