- name: install udev files
  copy:
    src: "{{item}}"
    dest: /etc/udev/rules.d/
    owner: root
    group: root
    mode: '0644'
  with_fileglob: "rules.d/*.rules"
  become: true
  notify: reload udev rules
  tags: udev
